.nav-page {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.nav-logo {
  width: 45px;
  height: auto;
  margin-right: 15px;
}

.nav-title {
  font-size: large;
  font-weight: bold;
}

.createNewNote {
  padding: 10px 0;
}

.createNoteForm {
  width: 500px;
  margin: 0 auto;

  input {
    width: 100%;
  }
}

.createNoteForm-input {
  height: 30px;
  border: 2px solid rgb(3, 53, 109);
  margin: 30px 0;
  padding: 0 15px;
  background-color: rgba(255, 184, 251, 0.3);
  color: rgb(3, 53, 109);
  font-weight: bold;

  &::placeholder {
    font-size: 12px;
    color: #777;
    font-weight: lighter;
  }
}

.createNoteForm-button {
  padding: 10px;
  width: 200px;
  height: 25px;
  border: 2px solid rgb(3, 53, 109);
  border-radius: 10px;
  cursor: pointer;
  background-color: rgba(157, 223, 250, 0.4);
  color: rgb(3, 53, 109);
  font-weight: bold;
}

.noteBookzFooter {
  margin: 45px 0 0 25px;
}

@media screen and (max-width: $mobile-two-w) {
  .createNoteForm {
    width: 320px;
  }
}
